.phone-box {
	background-color: #262626;

	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-ring {
	background-color: #686868;

	position: relative;
}

.phone-ring-inner {
	background-color: #262626;

	position: absolute;
	z-index: 2;
}

.phone-ring.glow {
	box-shadow: 0px 0px 5px #686868;
}

.phone-ring-inner.glow {
	box-shadow: 0px 0px 5px #262626;
}

.stop-marker {
	position: absolute;
	z-index: 1;
}

.stop-marker-visible {
	width: 50%;
	height: 100%;
	position: relative;
	right: 0px;
	background-color: #e7e7e7;
}

.option-rotation-wrapper {
	position: absolute;
	z-index: 2;
}

.option-inner-rotation-wrapper {
}

.option-selection-wrapper {
	position: absolute;
	overflow: hidden;
	transition: height 0.25s ease-in-out;
}

.option {
	background-color: #e7e7e7;
	color: #262626;

	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option.selected {
	background-color: #262626;
	color: #e7e7e7;
}

body {
	font-family: 'Space Mono', monospace;
    font-size: 34px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}